
@keyframes zoomIn {
  from {
    opacity: .8;
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
