
/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/

/* VARIABLES */
:root {
  --colorBlack: #282828;
  --colorBlackLight: #929292;
  --colorWhite: #fff;
  --colorSecundary: #ffc400;
}
/* VARIABLES */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 1.4;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 1.5em;
}

/* HEADER */
.headerBackground {
  height: 620px;
  background-image: url(../images/heroBackground.jpg);
  background-size: cover;
  background-position: center top;
}

.headerBackground .wrapper {
  padding: 0;
}

.incatexHeader__imageContainer {
  animation-name: zoomIn;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

.incatexHeader {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colorWhite);
  padding: 0 1.5em;
}

.incatexMenu ul {
  display: flex;
}

.incatexMenu a {
  text-decoration: none;
  color: #282828;
  margin-left: 1em;
  text-transform: uppercase;
}

.incatexMenu li:first-child {
  font-weight: 900;
}
/* HEADER */

/* HERO */
.hero {
  padding: 2em;
  animation-name: fadeIn;
  animation-duration: 2s;
  transition: 2s;
}

.hero__title {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: .8;
  text-align: center;
  color: #fff;
}

.hero__title strong {
  color: var(--colorSecundary);
}

.hero__description {
  font-size: 16px;
  font-weight: 300;
  margin-top: 12px;
  color: #fff;
  text-align: center;
}

.cardNewsProducts {
  background-color: #fff;
  width: 520px;
  border-radius: 12px;
  padding: 1.5em;
  position: absolute;
  bottom: -400px;
  right: 0;
  box-shadow: 0px 4px 4px rgba(195, 195, 195, 0.25);
  animation-name: fadeIn;
  animation-duration: 2s;
  transition: 2s;
}

.cardNewsProducts__title {
  font-size: 24px;
  text-transform: uppercase;
  color: var(--colorBlack);
  font-weight: bold;
}

.cardProduct {
  display: flex;
  margin-top: 1em;
}

.cardProductDetails {
  margin-left: 1em;
  position: relative;
  width: 250px;
}

.productDetailsInfoWallet label, .productDetailsInfoWallet input {
  display: block;
}

.productDetailsInfoWallet label {
  margin-bottom: .5em;
}

.productDetailsInfoWallet input {
  margin-bottom: 1.5em;
  padding-left: 1em;
  line-height: 2.5;
  border-radius: 4px;
  border: 1px solid var(--colorBlackLight);
  width: 100%;
}

.cardProductDetails__titleProduct {
  font-size: 24px;
  font-weight: bold;
}

.cardProductDetails__description {
  font-size: 12px;
  font-weight: 300;
  margin: 1em 0;
}

.cardProductDetails__cta {
  background-color: var(--colorBlack);
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  color: #fff;
  border-radius: 6px;
  line-height: 2.5;
  border-bottom: 2px solid var(--colorSecundary);
  transition: .4s ease-in;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.cardProductDetails__cta:hover {
  background-color: var(--colorSecundary);
  border-bottom: 2px solid #ac7000;
  color: #000;
  transition: .4s ease-in;
}
/* HERO */


/* LAST SELL */
.listCardSell {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

.listTshirts {
  margin-top: 2em;
}

.lastSell {
  margin: 10em 0 4em 0;
}

.lastSellCard__imageContainer {
  overflow: hidden;
}

.lastSellCard__imageContainer img {
  display: block;
  transform: scale(1);
  transition: .4s;
  z-index: 20;
}

.lastSellCard__imageContainer img:hover {
  transform: scale(1.1);
  transition: .4s;
}

.lastSell__title {
  font-size: 32px;
  color: var(--colorBlack);
  text-transform: uppercase;
  font-weight: bold;
}

.lastSellCard {
  width: 212px;
  margin-right: 1em;
}

.lastSellCard:last-child {
  margin-right: 0;
}

.lastSellCard__image {
  width: 100%;
}

.lastSellCard__title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 12px 0;
}

.lastSellCard__description {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 1em;
}

.lastSellCard__btn {
  background-color: #282828;
  width: 100%;
  color: #fff;
  border-radius: 6px;
  border-bottom: 2px solid var(--colorSecundary);
  transition: .4s ease-in;
  text-align: center;
  text-decoration: none;
  display: block;
  line-height: 2.5;
}

.lastSellCard__btn:hover {
  background-color: var(--colorSecundary);
  border-bottom: 2px solid #ac7000;
  color: #000;
  font-weight: bold;
  transition: .4s ease-in;
}
/* LAST SELL */

/* CATEGORY PRODUCT */

.categoryProductsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categoryProducts {
  margin-bottom: 6em;
}

.categoryProducts__title {
  font-size: 32px;
  margin-bottom: 1em;
  color: var(--colorBlack);
  font-weight: bold;
  text-transform: uppercase;
}

.categoryCardProduct {
  width: 500px;
  margin-bottom: 6em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colorBlack);
  position: relative;
  padding: 2em;
  color: var(--colorWhite);
  border-radius: 6px;
}

.categoryCardProduct.right {
  background-color: var(--colorBlack);
}

.categoryCardProduct__title {
  font-size: 24px;
  color: var(--colorSecundary);
  font-weight: bold;
}

.categoryCardProduct__description {
  font-weight: lighter;
  margin: 1em 0 2em 0;
  font-size: 14px;
}

.categoryCardProduct__details {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.categoryCardProduct__details.left {
  margin-left: 6em;
}

.categoryCardProduct__details.right {
  margin-right: 6em;
  text-align: left;
}

.categoryCardProduct__btn {
  background-color: #282828;
  width: 100%;
  color: #fff;
  border-radius: 6px;
  border-bottom: 2px solid var(--colorSecundary);
  transition: .4s ease-in;
  text-align: center;
  text-decoration: none;
  display: block;
  line-height: 2.5;
}

.categoryCardProduct__btn:hover {
  background-color: var(--colorSecundary);
  border-bottom: 2px solid #ac7000;
  color: #000;
  font-weight: bold;
  transition: .4s ease-in;
}

.cardProduct__imageContainer {
  overflow: hidden;
  width: 220px;
}

.cardProduct__image {
  transition: .4s;
  transform: scale(1);
  display: block;
}

.cardProduct__image:hover {
  transform: scale(1.1);
  transition: .4s;
}

.categoryCardProduct__imageContainer {
  position: absolute;
  bottom: -80px;
}

.categoryCardProduct__imageContainer.right {
  right: 0;
}

.categoryCardProduct__imageContainer.left {
  left: 0;
}
/* CATEGORY PRODUCT */

/* SUSCRIBE */
.suscribe {
  background-color: var(--colorBlack);
  padding: 2em 0;
}

.suscribeForm {
  width: 450px;
  text-align: center;
}

.suscribeForm__title {
  font-weight: bold;
  color: var(--colorSecundary);
  text-transform: uppercase;
  font-weight: 24px;
}

.suscribeForm__text {
  color: var(--colorWhite);
  font-weight: lighter;
  max-width: 250px;
  margin: 1em auto;
}

.suscribeForm__input input {
  background-color: #363636;
  color: var(--colorWhite);
  border: 0;
  line-height: 3;
  padding-left: 1em;
  width: 100%;
  outline: 0;
}
/* SUSCRIBE */
.testimonials {
  margin: 4em 0 0 0;
}

.testimonialsModelMen {
  position: absolute;
  bottom: 0;
  right: 0;
}

.testimonialsModelMen img {
  display: block;
}

.testimonials__title {
  font-size: 32px;
  text-transform: uppercase;
  color: var(--colorBlack);
  font-weight: bold;
}

.testimonialsCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 450px;
  margin-top: 2em;
}

.wrapperTestimonialsMain {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.listTestimonialsCards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6em;
}

.testimonialsDetails {
  margin-top: 12px;
}

.testimonialsDetails__title {
  font-weight: bold;
  font-size: 16px;
}

.testimonialsDetails__description {
  font-size: 12px;
  font-weight: normal;
  margin-top: 1em;
}
/* SUSCRIBE */

/* DETAILS PRODUCT */
.wrapperDetailsProduct {
  display: flex;
  flex-wrap: wrap;
}

.productDetails {
  margin: 3em 0;
}

.productDetails__title {
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.productImagesPreviews {
  width: 40%;
}

.productImagesPreviews img {
  width: 100%;
  display: block;
}

.productImagesPreviews__img {
  margin-bottom: 8px;
}

.previewsProductCarousel {
  display: flex;
}

.previewsProductCarousel figure {
  margin-right: 8px;
}

.previewsProductCarousel figure:last-child {
  margin-right: 0;
}

.productDetailsInfo small {
  margin-bottom: 1em;
  display: block;
}

.productDetailsInfo__title {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: .5em;
}

.productDetailsInfo__description {
  font-size: 14px;
  margin-bottom: 2em;
  max-width: 700px;
}

.priceProductDetails {
  font-size: 60px;
  font-weight: 900;
}

.productDetailsInfo {
  margin-left: 2em;
  width: 50%;
}

.productDetailsInfo h3 {
  font-weight: bold;
  margin-bottom: 1em;
}

.productDetailsInfo__btn {
  background-color: #14b469;
  width: 100%;
  color: #fff;
  border-radius: 6px;
  border-bottom: 2px solid #011a0e;
  transition: .2s ease-in;
  text-align: center;
  text-decoration: none;
  display: block;
  line-height: 3.5;
  margin-top: 2em;
  border: 0;
  outline: 0;
  text-transform: uppercase;
}

.productDetailsInfo__btn:hover {
  background-color: #16a763;
  transition: .2s ease-in;
}

.productRelations {
  margin: 4em 0;
}

.listProductRelations {
  display: flex;
  flex-wrap: wrap;
}

.productRelations__title {
  font-size: 21px;
  color: var(--colorBlack);
  font-weight: bold;
  margin-bottom: 1em;
  text-transform: uppercase;
}
/* DETAILS PRODUCT */

/* FOOTER */
.footerIncatex {
  background-color: var(--colorBlack);
  padding: 50px 0;
}

.footerDetails {
  display: flex;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footerDetailsContact__title {
  color: var(--colorWhite);
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 1em;
  font-weight: bold;
}

.footerDetailsContact__menu li {
  margin: .5em 0;
}

.footerDetailsContact__menu a {
  text-decoration: none;
  color: var(--colorWhite);
  font-size: 12px;
}

.footerDetailsContact {
  margin-right: 2em;
}
/* FOOTER */
